﻿<div id="company" ng-controller="companyControllerCpt" class="companyControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="companyForm" ng-submit="executeButton()" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-minlength ng-valid-maxlength ng-invalid-min ng-valid-max ng-invalid-pattern">
                <!-- row 1 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="NIT">Nit</label>
                        <input required="" maxlength="11" ng-pattern="ValidarAlfanumericoHyphen" name="NIT" ng-model="objCompany.NIT" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="NIT" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.NIT.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="companyForm.NIT.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="companyName">Nombre/Raz&oacute;n social</label>
                        <input required="" maxlength="100" ng-pattern="ValidarAlfanumerico" name="companyName" ng-model="objCompany.CompanyName" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="companyName" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.companyName.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="companyForm.companyName.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label>C&oacute;digo territorial</label>
                        <md-select required="" id="companyTerritorialCode" name="companyTerritorialCode" ng-model="objCompany.TerritorialCodeID">
                            <md-option ng-repeat="tco in TerritorialCodeObjects" value="{{tco.TerritorialCodeID}}">{{tco.Name}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.companyTerritorialCode.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- row 2 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="Resolution">Resoluci&oacute;n</label>
                        <input required="" ng-blur="objCompany.Resolution = zeroFill(objCompany.Resolution)" maxlength="4" ng-pattern="ValidarSoloNumero" name="Resolution" ng-model="objCompany.Resolution" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Resolution" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.Resolution.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="companyForm.Resolution.$error.pattern" class="md-input-message-animation ng-scope">Este campo no puede contener letras</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label>Año habilitaci&oacute;n</label>
                        <md-select required="" id="HabilitationYear" name="HabilitationYear" ng-model="objCompany.HabilitationYear" aria-invalid="true" >
                            <md-option ng-repeat="y in HabilitationYears" value="{{y.year}}">{{y.year}}</md-option>                           
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.HabilitationYear.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="Consecutive">Inicio número consecutivo</label>
                        <input required="" ng-disabled="DisableConsecutive" ng-blur="objCompany.Consecutive = zeroFill(objCompany.Consecutive)" maxlength="4" ng-pattern="ValidarSoloNumero" name="Consecutive" ng-model="objCompany.Consecutive" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Consecutive" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.Consecutive.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="companyForm.Consecutive.$error.pattern" class="md-input-message-animation ng-scope">Este campo no puede contener letras</span>
                        </div>
                    </md-input-container>
                </div>
                <!-- row 3 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="100" class="flex-100">
                        <label class="md-required" for="InformationContact ">Información de la empresa *</label>
                        <textarea required="" maxlength="300" md-maxlength="300" cols="50" onkeypress="return validateBRTextArea(event, this)" md-no-asterisk="" name="InformationContact" ng-model="objCompany.InformationContact" class="ng-pristine ng-untouched ng-valid md-input ng-not-empty ng-valid-required" id="InformationContact" aria-invalid="false" ng-trim="false"></textarea><div class="md-errors-spacer"></div>
                        <div ng-messages="companyForm.InformationContact .$error" class="md-input-messages-animation md-auto-hide ng-inactive" aria-live="assertive">
                            <!-- ngMessage: required --> <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="companyForm.InformationContact.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales, separe la información por comas</span>
                        </div>
                    </md-input-container>
                </div>
                <!-- row 4 -->
                <div class="layout-row">
                    <choose-file-company-logo layout="row" flex="50">
                        <input id="companyLogo" type="file" class="ng-hide">
                        <md-input-container flex class="md-block">
                            <input type="text" ng-model="fileNameArchiveCompanyLogo" disabled>
                            <div class="hint">Logo de la empresa *</div>
                        </md-input-container>
                        <md-button id="uploadButtonLogo" class="md-fab md-mini md-button-satrack">
                            <md-icon class="material-icons">&#xE439;</md-icon>
                        </md-button>
                        <md-button id="downloadImgLogo" ng-click="viewImage(objCompany.Logo)" class="md-fab md-mini md-button-satrack">
                            <md-tooltip md-direction="bottom" class="">Ver imagen adjunta</md-tooltip>
                            <md-icon class="material-icons">&#xE413;</md-icon>
                        </md-button>
                    </choose-file-company-logo>
                    <choose-file-company-Signature layout="row" flex="50">
                        <input id="companySignature" type="file" class="ng-hide">
                        <md-input-container flex class="md-block">
                            <input type="text" ng-model="fileNameArchiveCompanySignature" disabled>
                            <div class="hint">Firma y sello del representante *</div>
                        </md-input-container>
                        <md-button id="uploadButtonFirm" class="md-fab md-mini md-button-satrack">
                            <md-icon class="material-icons">&#xE439;</md-icon>
                        </md-button>
                        <md-button id="downloadImgFirm" ng-click="viewImage(objCompany.Firm)" class="md-fab md-mini md-button-satrack">
                            <md-tooltip md-direction="bottom" class="">Ver imagen adjunta</md-tooltip>
                            <md-icon class="material-icons">&#xE413;</md-icon> 
                        </md-button>
                    </choose-file-company-Signature>
                </div>
                <br />
                <br />
                <!-- row 5 -->
                <div class="layout-row">
                    <div layout="row" flex="50">
                        <md-input-container flex>
                            <label class="md-required" for="ContractObject">Objeto de contrato</label>
                            <input id="ContractObject" maxlength="100" type="text" ng-model="TextContractObject" numbers-letters-only>
                        </md-input-container>
                        <md-button id="addObjectContractButton" ng-click="addContractObject()" class="md-fab md-mini md-button-satrack">
                            <md-icon class="material-icons">&#xE145;</md-icon>
                        </md-button>
                    </div>
                    <div flex="50">
                        <md-list-item class="special-item-object-contract">
                            <p>Objetos de contrato</p>
                        </md-list-item>
                        <md-list-item class="special-item-object-contract" ng-repeat="obco in objCompany.ContractObject">
                            <p>{{obco.Name}}</p>
                            <md-icon class="md-secondary" ng-click="removeContractObject(obco)" aria-label="Chat">cancel</md-icon>
                        </md-list-item>
                    </div>
                </div>
                <!-- Row 6 -->
                <div layout="row">
                    <div flex class="flex">
                        <md-button id="btnCompany" class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" type="submit" ng-click="FunctionalityButton = 'companyRegister'"><span class="ng-scope">Guardar empresa</span></md-button>
                    </div>
                    <div flex class="flex"></div>
                    <div flex class="flex"></div>
                </div>    
            </form>
        </md-content>
    </div>
</div>	