﻿<div id="certificate" ng-controller="certificateControllerCpt" class="certificateControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="certificateForm" novalidate>
                <!-- Row 1 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="66" class="flex-66 autocomplete-position">
                        <md-autocomplete required md-search-text="searchTextPlates"
                                            md-selected-item="searchItemPlate"
                                            md-item-text="item.CompanyName"
                                            md-items="item in querySearchCertificate(searchTextPlates)"
                                            md-selected-item-change="setModelCertificateItem(item)"
                                            md-floating-label="Buscar Contratante/Nit"
                                            md-input-name="autocompletePlates"
                                            ng-disabled="arrContractors.data.length == 0"
                                            md-min-length="0">
                            <md-item-template>
                                <span>{{item.CompanyName}}</span>
                                <span> - {{item.NIT}}</span>
                            </md-item-template>
                            <div ng-messages="certificateForm.autocompletePlates.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                                <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            </div>
                            <md-not-found>
                                No se encontraron resultados.
                            </md-not-found>
                        </md-autocomplete>
                    </md-input-container>

                    <md-input-container flex>
                        <label class="md-required" for="NIT">NIT</label>
                        <input required="" name="NIT" ng-model="objCertificate.objContractor.NIT" id="NIT" ng-disabled="true">
                        <div ng-messages="certificateForm.NIT.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 2 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label>Objeto de contrato</label>
                        <md-select required="" id="certificateContractObject" name="certificateContractObject" ng-model="objCertificate.ContractObjectValue">
                            <md-option ng-repeat="oct in ContractObjects" value="{{oct.Name}}">{{oct.Name}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.certificateContractObject.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label>Departamento origen</label>
                        <md-select required="" id="certificateStateList" name="certificateStateList" ng-model="objCertificate.StateValue"  ng-change="getCitiesList()">
                            <md-option ng-repeat="stl in StateList" value="{{stl}}">{{stl.Name}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.certificateStateList.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label>Ciudad origen</label>
                        <md-select required="" id="certificateCityList" name="certificateCityList" ng-model="objCertificate.CityValue" ng-disabled="objCertificate.DisableCityList">
                            <md-option ng-repeat="ctl in CityList" value="{{ctl.Name}}">{{ctl.Name}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.certificateCityList.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 3 -->
                <div layout="row" class="layout-row">
                    <div layout="row" flex="50">
                        <md-input-container flex>
                            <label class="md-required" for="txtDestination">Destino</label>
                            <input id="txtDestination" name="txtDestination" maxlength="255" type="text" ng-model="TextDestination"  ng-pattern="AlfanumericValidateCaracter"  ng-disabled="objCertificate.DisableDestination">
                            <div ng-messages="certificateForm.txtDestination.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                                <span ng-show="certificateForm.txtDestination.$error.pattern" class="md-input-message-animation ng-scope">Solo se permiten los siguentes caracteres: # / ( ) . - _</span>
                            </div>
                        </md-input-container>
                        <md-button id="addDestinationtButton" ng-click="addDestination()" class="md-fab md-mini md-button-satrack" ng-disabled="objCertificate.DisableDestination || certificateForm.txtDestination.$error.pattern">
                            <md-icon class="material-icons">&#xE145;</md-icon>
                        </md-button>
                    </div>
                    <div flex="50">
                        <md-list-item class="special-item-object-destination">
                            <p>Destinos</p>
                        </md-list-item>
                        <md-list-item class="special-item-object-destination" ng-repeat="dst in objCertificate.Destination">
                            <p>{{dst.Name}}</p>
                            <md-icon class="md-secondary" ng-click="removeDestination(dst)" aria-label="Chat">cancel</md-icon>
                        </md-list-item>
                    </div>
                </div>
                <!-- Row 4 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="66" class="flex-66 autocomplete-position">
                        <md-autocomplete required md-search-text="searchTextVehicles"
                                         md-selected-item="searchItemVehicle"
                                         md-item-text="itemVehicle"
                                         md-items="itemVehicle in querySearchVehicle(searchTextVehicles)"
                                         md-selected-item-change="setModelVehicle(itemVehicle)"
                                         md-floating-label="Buscar Veh&iacute;culo"
                                         md-input-name="autocompleteVehicle"
                                         ng-disabled="arrayVehicles.length == 0"
                                         md-min-length="0">
                            <md-item-template>
                                <span>{{itemVehicle}}</span>
                            </md-item-template>
                            <div ng-messages="certificateForm.autocompleteVehicle.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                                <div ng-show="ShowMessageVehicle" class="ng-scope">La vigencia de revisi&oacute;n t&eacute;cnica del veh&iacute;culo ha caducado.</div>
                                <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            </div>
                            <md-not-found>
                                No se encontraron resultados.
                            </md-not-found>
                        </md-autocomplete>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Model">Modelo</label>
                        <input required="" name="Model" ng-model="objCertificate.objVehicleCert.Model" id="Model" ng-disabled="true">
                        <div ng-messages="certificateForm.objVehicleCert.Model.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 5 -->
                <div layout="row">
                    <md-input-container flex>
                        <label class="md-required" for="Trademark">Marca</label>
                        <input required="" name="Trademark" ng-model="objCertificate.objVehicleCert.Trademark" id="Trademark" ng-disabled="true">
                        <div ng-messages="certificateForm.objVehicleCert.Trademark.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Type">Clase</label>
                        <input required="" name="Type" ng-model="objCertificate.objVehicleCert.Type" id="Type" ng-disabled="true">
                        <div ng-messages="certificateForm.objVehicleCert.Type.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="InternalNumber">N&uacute;mero interno</label>
                        <input required="" maxlength="10" name="InternalNumber" ng-model="objCertificate.objVehicleCert.InternalNumber" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="InternalNumber" aria-invalid="true" ng-disabled="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.objVehicleCert.InternalNumber.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="certificateForm.objVehicleCert.InternalNumber.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 10 caracteres.</span>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 6 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex>
                        <label class="md-required" for="OperationCard">Tarjeta operaci&oacute;n</label>
                        <input required="" maxlength="30" name="OperationCard" ng-model="objCertificate.objVehicleCert.OperationCard" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="OperationCard" aria-invalid="true" ng-disabled="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.objVehicleCert.OperationCard.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="certificateForm.objVehicleCert.OperationCard.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 30 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="AllianceType">Alianza</label>
                        <input required="" maxlength="30" name="AllianceType" ng-model="objCertificate.objVehicleCert.AllianceType" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="AllianceType" aria-invalid="true" ng-disabled="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.objVehicleCert.AllianceType.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="certificateForm.objVehicleCert.AllianceType.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 30 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="AllianceWith">Con:</label>
                        <input required="" maxlength="10" name="AllianceWith" ng-model="objCertificate.objVehicleCert.AllianceWith" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="AllianceWith" aria-invalid="true" ng-disabled="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="certificateForm.objVehicleCert.AllianceWith.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 7 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex>
                        <label>Fecha inicial</label>
                        <md-datepicker name="InitialDate" ng-model="objCertificate.InitialDate" md-placeholder="dd/mm/aaaa" required="" md-min-date="minDate" ng-change="ChangeDates()" md-max-date="maxDateInitial" ng-disabled="objCertificate.DisableInitialDate "></md-datepicker>
                        <div class="validation-messages" ng-messages="certificateForm.InitialDate.$error">
                            <div ng-message="valid">El valor de entrada no es una fecha v&aacute;lida.</div>
                            <div ng-message="required">Este campo es obligatorio.</div>
                            <div ng-message="mindate">La fecha seleccionada debe ser actual o posterior.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Fecha final</label>
                        <md-datepicker name="EndDate" ng-model="objCertificate.EndDate" md-placeholder="dd/mm/aaaa" required="" md-min-date="minEndDate" md-max-date="maxDate" ng-disabled="objCertificate.DisableEndDate"></md-datepicker>
                        <div class="md-input-messages-animation md-auto-hide ng-active" ng-messages="certificateForm.EndDate.$error" aria-live="assertive">
                            <div ng-show="certificateForm.EndDate.$error.valid" class="md-input-message-animation ng-scope">El valor de entrada no es una fecha v&aacute;lida.</div>
                            <div ng-show="certificateForm.EndDate.$error.required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <div ng-show="certificateForm.EndDate.$error.minDate" class="md-input-message-animation ng-scope">La fecha seleccionada debe ser actual o posterior.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        
                    </md-input-container>
                </div>
                <!-- Row 8 -->
                <div layout="row" class="layout-row">
                        <md-input-container flex="66" class="flex-66 autocomplete-position">
                            <md-autocomplete md-search-text="searchTextDriver"
                                             md-selected-item="searchItemDriver"
                                             md-item-text="itemDriver.Name"
                                             md-items="itemDriver in querySearchDriver(searchTextDriver)"
                                             md-selected-item-change="setModelDriver(itemDriver)"
                                             md-floating-label="Buscar Conductor"
                                             md-input-name="autocompleteDriver"
                                             ng-disabled="arrDrivers.data.length == 0 || objCertificate.DisableDriver"
                                             md-min-length="0">
                                <md-item-template>
                                    <span>{{itemDriver.Name}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No se encontraron resultados.
                                </md-not-found>
                            </md-autocomplete>
                            <div class="md-input-messages-animation ng-active" aria-live="assertive">
                                <div ng-show="ShowMessageLicence" class="ng-scope">La licencia de conducci&oacute;n ha caducado.</div>
                            </div>
                        </md-input-container>
                        <md-button id="addDriverButton" ng-click="ValidateDriverCert()" class="md-fab md-mini md-button-satrack" ng-disabled="objCertificate.DisableDriver">
                            <md-icon class="material-icons">&#xE145;</md-icon>
                        </md-button>
                    <md-input-container flex>
                    </md-input-container>
                </div>
                <!--TABLE-->
                <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                    <div class="gridFUEC" grid-data id='gridDriverCert' grid-options="gridDriverCert" grid-actions="gridActionsDriverCert">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>
                                    <th sortable="Name" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Nombre</span> <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Identification" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Documento Identidad</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="LicenseNumber" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>N° Licencia conducci&oacute;n</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="LicenseValidity" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Vigencia licencia conducci&oacute;n</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr grid-item>
                                    <td>
                                        <span ng-bind="item.Name"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Identification"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.LicenseNumber"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.LicenseValidity"></span>
                                    </td>
                                    <td>
                                        <span class="icon-actions" ng-click="removeDriver(item)"><i class="material-icons">&#xE92B;</i></span>
                                    </td>
                                </tr>
                                <tr ng-show="gridDriverCert.data.length == 0">
                                    <td colspan="9">
                                        <div class="result-no-table">No se han asignado conductores.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage">
                            </grid-pagination>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <!-- Row 9 -->
                <div layout="row">
                    <div flex class="flex">
                        <md-button id="btnCertificateView" class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" ng-click="showModalCertificate($event)"><span class="ng-scope">VER CERTIFICADO</span></md-button>
                    </div>
                    <div flex class="flex"></div>
                    <div flex class="flex"></div>
                </div>
            </form>
        </md-content>
    </div>
    <div id="fuec-certificate">
        <div id="contentFUECCertificatePage1">
            <certificate-page1 obj-certificate="{{objCertificateDTO}}"></certificate-page1>
            <div ng-show="previewDocument==1" class="text-review">DOCUMENTO NO VÁLIDO</div>
        </div>
        <div id="contentFUECCertificatePage2">
            <certificate-page2></certificate-page2>
        </div>
    </div>
</div>
