﻿<div id="userConfiguration" ng-controller="userConfigurationControllerCpt" class="userConfigurationControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="userConfigurationForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-minlength ng-valid-maxlength ng-invalid-min ng-valid-max ng-invalid-pattern">
                <!-- Row 1 -->
                <div layout="row" class="row-input-search">
                    <div flex="30" class="flex-30">
                        <md-input-container>
                            <input ng-model="searchInput"
                                   grid-id="gridUserRole"
                                   class="md-input"
                                   ng-change="gridActionsUserRole.filter()"
                                   id="SearchUser"
                                   placeholder="Buscar por Usuario"
                                   filter-by="UserName"
                                   filter-type="text"
                                   aria-invalid="false">
                        </md-input-container>
                    </div>
                </div>
                <br />
                <!-- Row 2 -->
                <div layout="row" class="row-input-search">
                    <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                        <div class="gridFUEC" grid-data id='gridUserRole' grid-options="gridUserRole" grid-actions="gridActionsUserRole">
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                                <thead>
                                    <tr>
                                        <th sortable="UserName" class="sortable mdl-data-table__cell--non-numeric">
                                            Usuario <i class="fa fa-sort" aria-hidden="true"></i>
                                        </th>
                                        <th class="mdl-data-table__cell--non-numeric">
                                            Usuario Creador
                                        </th>
                                        <th class="mdl-data-table__cell--non-numeric">
                                            Rol 
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr grid-item>
                                        <td style="vertical-align:middle">                                            
                                                <span ng-bind="item.UserName"></span>                                            
                                        </td>
                                        <td style="vertical-align:middle">                                            
                                                <span ng-bind="item.UserCreator"></span>                                            
                                        </td>
                                        <td>
                                            <md-select id="userRoles" name="userRoles" ng-model="item.RoleID" ng-change="updateIdRoll(item)">
                                                <md-option ng-repeat="tco in RoleUsers" value="{{tco.RoleID}}">{{tco.RoleName}}</md-option>
                                            </md-select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div layout="row" layout-align-xs="end end" layout-align="end center">
                                <grid-pagination max-size="5"
                                                 boundary-links="true"
                                                 class="pagination"
                                                 ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                                 total-items="paginationOptions.totalItems"
                                                 ng-model="paginationOptions.currentPage"
                                                 ng-change="reloadGrid()"
                                                 items-per-page="paginationOptions.itemsPerPage">
                                </grid-pagination>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <!-- Row 3 -->
                <div layout="row">
                    <div flex="30" class="flex-30">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive btn-satrack-position-responsive-contractor" ng-click="SaveUserRoles()" type="button"><span>ACTUALIZAR PERMISO USUARIOS</span></md-button>
                    </div>
                    <div flex="30" class="flex-30">
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>
