﻿<div id="contractor" ng-controller="contractorControllerCpt" class="contractorControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="contractorForm" novalidate>
                <!-- Row 1-->
                <div layout="row" class="layout-row">
                    <md-input-container flex>
                        <label class="md-required" for="NIT">Nit</label>
                        <input required="" maxlength="20" minlength="11" ng-pattern="AlfanumericValidateHyphen" name="NIT" ng-model="objContractor.NIT" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="NIT" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.NIT.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <div ng-show="contractorForm.NIT.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales.</div>
                            <div ng-show="contractorForm.NIT.$error.minlength" class="md-input-message-animation ng-scope">Tamaño m&iacute;nimo 11 caracteres.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="companyName">Nombre/Raz&oacute;n social</label>
                        <input required="" ng-pattern="AlfanumericValidate" maxlength="80" name="companyName" ng-model="objContractor.CompanyName" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="companyName" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.companyName.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <div ng-show="contractorForm.companyName.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Contract">Contrato</label>
                        <input ng-pattern="ValidaronlyNumber" id="Contract" required="" maxlength="4" minlength="4" name="Contract" ng-model="objContractor.Contract" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true">
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.Contract.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <div ng-show="contractorForm.Contract.$error.pattern" class="md-input-message-animation ng-scope">Solo se permiten n&uacute;meros.</div>
                            <div ng-show="contractorForm.Contract.$error.minlength" class="md-input-message-animation ng-scope">El contrato debe tener 4 caracteres.</div>
                        </div>
                    </md-input-container>
                </div>

                <!-- Row 2-->
                <div layout="row">
                    <md-input-container flex>
                        <label class="md-required" for="ContractManager">Responsable del contrato</label>
                        <input required="" maxlength="80" name="ContractManager" ng-model="objContractor.ContractManager" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="ContractManager" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.ContractManager.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Identification">Identificaci&oacute;n</label>
                        <input required="" maxlength="16" ng-pattern="AlfanumericValidateHyphen" name="Identification" ng-model="objContractor.Identification" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Identification" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.Identification.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <div ng-show="contractorForm.Identification.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Phone">Tel&eacute;fono</label>
                        <input ng-pattern="ValidaronlyNumber" required="" name="Phone" maxlength="10" ng-model="objContractor.Phone" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Phone" aria-invalid="true">
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.Phone.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="contractorForm.Phone.$error.pattern" class="md-input-message-animation ng-scope">Solo se permiten n&uacute;meros.</span>
                        </div>
                    </md-input-container>
                </div>

                <!-- Row 3 -->
                <div layout="row">
                    <md-input-container flex>
                        <label class="md-required" for="Address">Direcci&oacute;n</label>
                        <input required="" name="Address" maxlength="90" ng-model="objContractor.Address" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Address" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="contractorForm.Address.$error" class="md-input-messages-animation md-auto-hide ng-active messages-position-validate" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Vigencia rodamiento</label>
                        <md-datepicker name="BearingValidity" ng-model="objContractor.BearingValidity" md-placeholder="dd/mm/aaaa" required="" md-min-date="minDate"></md-datepicker>
                        <div class="validation-messages" ng-messages="contractorForm.BearingValidity.$error">
                            <div ng-message="valid">El valor de entrada no es una fecha v&aacute;lida</div>
                            <div ng-message="required">Este campo es obligatorio</div>
                            <div ng-message="mindate">La fecha seleccionada debe ser actual o posterior.</div>
                        </div>
                    </md-input-container>
                    <div flex>
                        <md-button class="md-raised md-primary btn-satrack-position-responsive btn-satrack-position-responsive-contractor" type="button" ng-disabled="validateRegion1()" ng-click="createContractor()"><span>Guardar contratante</span></md-button>
                    </div>
                </div>

                <br />

                <!-- Row 4 -->
                <div layout="row" class="row-input-search">
                    <div flex class="flex">
                        <md-input-container>
                            <input ng-model="searchInput"
                                   grid-id="gridContractors"
                                   class="md-input"
                                   ng-change="gridActionsContractor.filter()"
                                   id="SearchNIT"
                                   placeholder="Buscar por NIT"
                                   filter-by="NIT"
                                   filter-type="text"
                                   aria-invalid="false">
                        </md-input-container>
                    </div>
                    <div flex class="flex"></div>
                    <div flex class="flex">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive btn-export " type="button" ng-click="exportContrator()">
                            <span>
                                <svg style="width:24px;height:24px" viewBox="0 2 24 24">
                                    <path fill="#FFFFFF" d="M6,2H14L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2M13,3.5V9H18.5L13,3.5M17,11H13V13H14L12,14.67L10,13H11V11H7V13H8L11,15.5L8,18H7V20H11V18H10L12,16.33L14,18H13V20H17V18H16L13,15.5L16,13H17V11Z" />
                                </svg>
                                DESCARGAR
                            </span>
                        </md-button>
                    </div>
                </div>

                <!-- Row 5 -->
                <!--TABLE-->
                <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                    <div class="gridFUEC" grid-data id='gridContractors' grid-options="gridContractor" grid-actions="gridActionsContractor">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>
                                    <th class="st-sort-disabled th-dropdown">
                                        <md-checkbox aria-label="Select All"
                                                     ng-checked="isChecked()"
                                                     ng-click="toggleAll()">
                                    </th>
                                    <th sortable="NIT" class="sortable mdl-data-table__cell--non-numeric">
                                        NIT <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="CompanyName" class="sortable mdl-data-table__cell--non-numeric">
                                        Nombre/Raz&oacute;n Social <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Contract" class="sortable mdl-data-table__cell--non-numeric">
                                        Contrato <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="ContractManager" class="sortable mdl-data-table__cell--non-numeric">
                                        Responsable Contrato <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Identification" class="sortable mdl-data-table__cell--non-numeric">
                                        Identificaci&oacute;n <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Phone" class="sortable mdl-data-table__cell--non-numeric">
                                        Tel&eacute;fono <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Address" class="sortable mdl-data-table__cell--non-numeric">
                                        Direcci&oacute;n <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th> <!--sortable="BearingValidity" class="sortable mdl-data-table__cell--non-numeric"-->
                                        Vigencia Rodamiento <i aria-hidden="true"></i>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr grid-item>
                                    <td>
                                        <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                                        </md-checkbox>
                                    </td>
                                    <td>
                                        <span ng-bind="item.NIT"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.CompanyName"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Contract"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.ContractManager"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Identification"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Phone"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Address"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.BearingValidity | date:'MM/dd/yyyy'"></span>
                                    </td>
                                    <td>
                                        <span class="icon-actions" ng-click="editContractor(item)"><i class="material-icons">&#xE254;</i></span>
                                    </td>
                                    <td>
                                        <span class="icon-actions" ng-click="deleteContractor(item)"><i class="material-icons">&#xE92B;</i></span>
                                    </td>
                                </tr>
                                <tr ng-show="gridContractor.data.length == 0">
                                    <td colspan="11">
                                        <div class="result-no-table">No se encontraron resultados.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage">
                            </grid-pagination>
                        </div>
                        <br />
                    </div>
                </div>

                <br />

                <!-- Row 5 -->
                <div layout="row">
                    <md-input-container flex="30" class="flex-30">
                        <label class="md-required" for="UpdateBearingValidity">Actualizar Vigencia rodamiento</label>
                        <md-datepicker name="UpdateBearingValidity" ng-model="objContractor.UpdateBearingValidity" md-placeholder="Actualizar Vigencia rodamiento" md-min-date="minDate"></md-datepicker>
                        <div class="validation-messages" ng-messages="contractorForm.UpdateBearingValidity.$error">
                            <div ng-message="valid">El valor de entrada no es una fecha v&aacute;lida.</div>
                            <div ng-message="mindate">La fecha seleccionada debe ser actual o posterior.</div>
                        </div>
                    </md-input-container>
                    <div flex="30" class="flex-30">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive btn-satrack-position-responsive-contractor" ng-disabled="validateRegion2()" ng-click="UpdateBearing()" type="button"><span>ACTUALIZAR VIGENCIA RODAMIENTO</span></md-button>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>
