﻿<div id="vehicle" ng-controller="vehicleControllerCpt" class="vehicleControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="vehicleForm" novalidate>
                <!-- Row 1 -->
                <md-autocomplete md-search-text="searchTextPlates"
                                 md-selected-item="searchItemPlate" 
                                 md-item-text="item"
                                 md-items="item in querySearch(searchTextPlates)"
                                 md-selected-item-change="setModelPlates(item)"
                                 md-floating-label="Buscar Veh&iacute;culo"
                                 md-input-name="autocompletePlates"
                                 ng-disabled="arrVehicles.length == 0"
                                 md-min-length="0">
                    <md-item-template>
                        <span>{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        No se encontraron resultados.
                    </md-not-found>
                </md-autocomplete>

                <!-- Row 2 -->
                <div layout="row">
                    <md-input-container flex>
                        <label class="md-required" for="Model">Modelo</label>
                        <input required="" name="Model" ng-model="objVehicle.Model" id="Model" ng-disabled="true">
                        <div ng-messages="vehicleForm.Model.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Trademark">Marca</label>
                        <input required="" name="Trademark" ng-model="objVehicle.Trademark" id="Trademark" ng-disabled="true">
                        <div ng-messages="vehicleForm.Trademark.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Type">Clase</label>
                        <input required="" name="Type" ng-model="objVehicle.Type" id="Type" ng-disabled="true">
                        <div ng-messages="vehicleForm.Type.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>

                <!-- Row 3 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex>
                        <label class="md-required" for="InternalNumber">N&uacute;mero interno</label>
                        <input required="" maxlength="10" name="InternalNumber" ng-model="objVehicle.InternalNumber" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="InternalNumber" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="vehicleForm.InternalNumber.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="vehicleForm.InternalNumber.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 10 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="OperationCard">Tarjeta operaci&oacute;n</label>
                        <input required="" maxlength="30" name="OperationCard" ng-model="objVehicle.OperationCard" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="OperationCard" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="vehicleForm.OperationCard.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="vehicleForm.OperationCard.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 30 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Vigencia revisi&oacute;n t&eacute;cnica</label>
                        <md-datepicker name="TechnicalReviewValidity" ng-model="objVehicle.TechnicalReviewValidity" md-placeholder="dd/mm/aaaa" required="" md-min-date="minDate"></md-datepicker>
                        <div class="validation-messages" ng-messages="vehicleForm.TechnicalReviewValidity.$error">
                            <div ng-message="valid">El valor de entrada no es una fecha v&aacute;lida.</div>
                            <div ng-message="required">Este campo es obligatorio.</div>
                            <div ng-message="mindate">La fecha seleccionada debe ser actual o posterior.</div>
                        </div>
                    </md-input-container>
                </div>

                <!-- Row 4 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label>Alianza</label>
                        <md-select id="AllianceType" name="AllianceType" ng-model="objVehicle.AllianceType" ng-change="validateAllianceChange()">
                            <md-option value="Seleccionar" ng-selected="true">Seleccionar</md-option>
                            <md-option value="Convenio">Convenio</md-option>
                            <md-option value="Alianza">Alianza</md-option>
                            <md-option value="Uni&oacute;n temporal">Uni&oacute;n temporal</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex>
                        <label for="AllianceWith">Con:</label>
                        <input md-maxlength="100" maxlength="100" name="AllianceWith" ng-disabled="!objVehicle.AllianceType" ng-model="objVehicle.AllianceWith" id="vehicleAllianceWith">
                    </md-input-container>
                </div>

                <!-- Row 5 -->
                <div layout="row">
                    <div flex class="flex">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" type="button" ng-click="createVehicle()" ng-disabled="validateRegion1()"><span>Guardar veh&iacute;culo</span></md-button>                       
                    </div>
                    <div flex class="flex"></div>
                    <div flex class="flex">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive btn-export" type="button" ng-click="exportContrator()">
                            <span>
                                <svg style="width:24px;height:24px" viewBox="0 2 24 24">
                                    <path fill="#FFFFFF" d="M6,2H14L20,8V20A2,2 0 0,1 18,22H6A2,2 0 0,1 4,20V4A2,2 0 0,1 6,2M13,3.5V9H18.5L13,3.5M17,11H13V13H14L12,14.67L10,13H11V11H7V13H8L11,15.5L8,18H7V20H11V18H10L12,16.33L14,18H13V20H17V18H16L13,15.5L16,13H17V11Z" />
                                </svg>
                                DESCARGAR
                            </span>
                        </md-button>
                    </div>
                </div>     
                           
                <!-- Row 7 -->
                <!--TABLE-->
                <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                    <div class="gridFUEC" grid-data id='gridVehicle' grid-options="gridVehicle" grid-actions="gridActionsVehicle">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>
                                    <th sortable="Plate" class="sortable mdl-data-table__cell--non-numeric">
                                        Placa <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Model" class="sortable mdl-data-table__cell--non-numeric">
                                        Modelo <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Trademark" class="sortable mdl-data-table__cell--non-numeric">
                                        Marca <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Type" class="sortable mdl-data-table__cell--non-numeric">
                                        Clase <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="InternalNumber" class="sortable mdl-data-table__cell--non-numeric">
                                        N&uacute;mero interno <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="OperationCard" class="sortable mdl-data-table__cell--non-numeric">
                                        Tarjeta operaci&oacute;n <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th class="sortable mdl-data-table__cell--non-numeric"> <!--sortable="TechnicalReviewValidity" class="sortable mdl-data-table__cell--non-numeric">-->
                                        Vigencia revisi&oacute;n t&eacute;cnica <i aria-hidden="true"></i>
                                    </th>
                                    <th class="sortable mdl-data-table__cell--non-numeric">
                                        Alianza <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr grid-item>
                                    <td>
                                        <span ng-bind="item.Plate"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Model"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Trademark"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Type"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.InternalNumber"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.OperationCard"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.TechnicalReviewValidity"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.AllianceType"></span> -
                                        <span ng-bind="item.AllianceWith"></span>
                                    </td>
                                </tr>
                                <tr ng-show="gridVehicle.data.length == 0">
                                    <td colspan="9">
                                        <div class="result-no-table">No se encontraron resultados.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage">
                            </grid-pagination>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>