﻿<md-dialog class="modalFUEC" aria-label="Modal (Alert)">
    <md-dialog-content class="md-dialog-content">
        <div ng-if="message.length <= 1">
            <div class="listItemFuec" ng-repeat="item in message">{{item}}</div>
        </div>
        <div ng-if="message.length > 1">
            <ul>
                <li class="listItemFuec" ng-repeat="item in message">{{item}}</li>
            </ul>
        </div>
    </md-dialog-content>
    <md-dialog-actions class="md-dialog-actions">
        <md-button class="md-primary" ng-click="hide()">OK</md-button>
    </md-dialog-actions>
</md-dialog>