﻿<md-dialog class="modalImageFUEC" aria-label="Modal (Image)">
    <md-dialog-content class="md-dialog-content">
        <div align="right">
            <i class="material-icons mdIconClose" ng-click="hide()">&#xE5CD;</i>
        </div>
        <div align="center">
            <img ng-src="data:image/jpg;base64,{{message[0]}}" alt="" />
        </div>
    </md-dialog-content>
</md-dialog>