﻿<div id="driver" ng-controller="driverControllerCpt" class="driverControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="driverForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-minlength ng-valid-maxlength ng-invalid-min ng-valid-max ng-invalid-pattern">
                <!-- Row 1 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex>
                        <label class="md-required" for="Name">Nombre completo</label>
                        <input required="" maxlength="80" name="Name" ng-model="objDriver.Name" id="Name" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="driverForm.Name.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="driverForm.Name.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 80 caracteres.</span>
                        </div>
                    </md-input-container>                    
                </div>

                <!-- Row 2 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex>
                        <label class="md-required" for="Trademark">Documento de identidad</label>
                        <input required="" maxlength="20" name="Identification" ng-model="objDriver.Identification" id="Identification" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="driverForm.Identification.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="driverForm.Identification.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 20 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Type">N° Licencia de conducci&oacute;n</label>
                        <input required="" maxlength="20" name="LicenseNumber" ng-model="objDriver.LicenseNumber" id="LicenseNumber" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="driverForm.LicenseNumber.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="driverForm.LicenseNumber.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 20 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Vigencia licencia de conducci&oacute;n</label>
                        <md-datepicker name="LicenseValidity" ng-model="objDriver.LicenseValidity" md-placeholder="dd/mm/aaaa"  required="" md-min-date="minDate"></md-datepicker>
                        <div class="validation-messages" ng-messages="driverForm.LicenseValidity.$error">
                            <div ng-message="valid">El valor de entrada no es una fecha v&aacute;lida.</div>
                            <div ng-message="required">Este campo es obligatorio.</div>
                            <div ng-message="mindate">La fecha seleccionada debe ser actual o posterior.</div>
                        </div>
                    </md-input-container>                    
                </div>
                
                <!-- Row 3 -->
                <div layout="row">
                    <div flex="33" class="flex-33">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" type="button" ng-click="createDriver()" ng-disabled="validateRegion1()"><span>Guardar conductor</span></md-button>
                    </div>
                </div>
                <br />

                <!-- Row 4 -->
                <div layout="row" class="row-input-search">
                    <div flex class="flex">
                        <md-input-container>
                            <input ng-model="searchInput"
                                   grid-id="gridDriver"
                                   class="md-input"
                                   ng-change="gridActionsDriver.filter()"
                                   id="SearchName"
                                   placeholder="Buscar por Nombre"
                                   filter-by="Name"
                                   filter-type="text"
                                   aria-invalid="false">
                        </md-input-container>
                    </div>                    
                </div>

                <!-- Row 5 -->
                <!--TABLE-->
                <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                    <div class="gridFUEC" grid-data id='gridDriver' grid-options="gridDriver" grid-actions="gridActionsDriver">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>                                    
                                    <th sortable="Name" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Nombre</span> <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Identification" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Documento Identidad</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="LicenseNumber" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>N° Licencia conducci&oacute;n</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th> <!--sortable="LicenseValidity" class="sortable mdl-data-table__cell--non-numeric">-->
                                        Vigencia licencia conducci&oacute;n<i  aria-hidden="true"></i>
                                    </th>     
                                    <th></th>
                                    <th></th>                               
                                </tr>
                            </thead>
                            <tbody>
                                <tr grid-item>
                                    <td>
                                        <span ng-bind="item.Name"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Identification"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.LicenseNumber"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.LicenseValidity"></span>
                                    </td>        
                                    <td>
                                        <span class="icon-actions" ng-click="editDriver(item)"><i class="material-icons">&#xE254;</i></span>
                                    </td>
                                    <td>
                                        <span class="icon-actions" ng-click="deleteDriver(item)"><i class="material-icons">&#xE92B;</i></span>
                                    </td>                           
                                </tr>
                                <tr ng-show="gridDriver.data.length == 0">
                                    <td colspan="9">
                                        <div class="result-no-table">No se encontraron resultados.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage">
                            </grid-pagination>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>