﻿<section>
 
    <!-- Formulario de empresa -->
    <div layout="column" class="layout-column">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item ng-repeat="u in UrlsMenu" md-nav-click="gcGoto(u.Url)" name="{{u.Name}}">
                {{u.Tittle}}
            </md-nav-item>                
        </md-nav-bar>
        <br />
        <!-- Componentes de la aplicación -->
        <div ng-include="urlPage"></div>
    </div>
    <br />
    <div ng-show="loaderMain" layout="column" layout-align="start center" class="layout-column" align="center">
        <md-progress-circular md-diameter="96"></md-progress-circular>
    </div>
</section>