﻿.icon-fuec{
    color: #FDC300
}

md-checkbox.md-checked .md-icon {
    background-color: #FDC300;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple, md-checkbox.md-checked .md-ink-ripple {
    color: #FDC300;
}

/* Modals FUEC INICIO*/
.listItemFuec {
    margin-bottom: 5px;
    color: #808080;
    font-family: Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font: 17px Arial;
}

.modalImageFUEC .mdIconClose{
    cursor: pointer;
    margin-bottom: 15px;
}

.modalImageFUEC .md-dialog-content{
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
/* Modals FUEC FIN */
 
/* Estilos tabla de objeto contrato */ 
.companyControllerCpt .special-item-object-contract {
    border: 1.2px solid #eee;
    margin-bottom: 5px
}

.companyControllerCpt .noVisibilityIcon {
    display: none;
}

/* Estilos tabla de destinos */ 
.certificateControllerCpt .special-item-object-destination {
    border: 1.2px solid #eee;
    margin-bottom: 5px;
    text-align: justify;
    word-break: break-all;
}


/* Estilos para los campos type = file */
.hint {
  position: absolute;
  left: 5px;
  right: auto;
  bottom: 0px;
  font-size: 14px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; 
}

/* Estilos botones */
.md-button-satrack{
    background-color: #FDC300 !important;
}

.md-button.md-default-theme.md-fab md-icon, .md-button.md-fab md-icon{
    color: #fff;
}

/* Estilos menú navbar toolbar */
md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar{
    background: #FDC300;
    color: #FDC300;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent{
    color: #FDC300;
}

.demo-toolbar{
    background-color: #253081 !important;
}

.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Gridview*/  
.gridFUEC thead tr th {
    text-align: center;
}

.gridFUEC td {
    text-align: left;
}

.userConfigurationControllerCpt .gridFUEC td {
    vertical-align: middle !important
}

.gridFUEC th:focus, a:focus {
    outline: none; 
}

.gridFUEC .codepen-wrap {
  margin-top: 15px; 
}

.gridFUEC .mdl-data-table {
  width: 100%; 
}

.gridFUEC .mdl-data-table th {
    cursor: pointer !important; 
    vertical-align: middle;
    padding-bottom: 0px !important;
    background-color: #253081 !important;
    color: white;
    font-weight: bold !important;
}

.gridFUEC .mdl-data-table th md-checkbox{
    margin: 0;
    position: relative;
}
.gridFUEC .mdl-data-table th md-checkbox .md-container {
    background-color: white;
}


.gridFUEC .mdl-data-table td md-checkbox{
    margin: 0;
    position: relative
}

.gridFUEC .mdl-data-table tr {
  transition: none !important;
}

.gridFUEC .md-errors-spacer {
    display: none; 
}

.gridFUEC ul .pagination {
    padding: 0;
    font-size: 0;
    display: inline-block; 
}

.gridFUEC .pagination > li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    border: 1px solid #ddd;
    border-left: 0; 
}

.gridFUEC .pagination > li:first-child {
    border-left: 1px solid #ddd;
    border-radius: 2px 0 0 2px; 
}
    
.gridFUEC .pagination > li:last-child {
    border-radius: 0 2px 2px 0; 
}

 .gridFUEC .pagination a {
    color: #444;
    font-size: 13px;
    padding: 0 10px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none; 
 }

 .gridFUEC .pagination .active {
    background: #3f51b5;
    border-color: #3f51b5; 
 }

 .gridFUEC .pagination .active a {
    color: #fff; 
 }

.gridFUEC .pagination-page.active {
    background: #3f51b5;
}

.gridFUEC .pagination-page.active a {
    color: #fff;
}

.gridFUEC .material-icons, .sortable span:before, .sortable span:after {
    font-family: 'Material Icons';
    font-size: 18px;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased; 
}

/*.gridFUEC .sortable span {
    position: relative; 
}*/

.gridFUEC .sortable i {
    position: relative;
    left: 5px;
    top: 0px; 
}

/*.gridFUEC .sortable span:after {
    content: 'arrow_drop_up';
    position: absolute;
    right: -18px;
    top: -9px; 
}*/

.gridFUEC .sortable.sort-ascent span:before {
    display: none; 
}

.gridFUEC .sortable.sort-ascent span:after {
    top: -5px;
}

.gridFUEC .sortable.sort-descent span:before {
    top: -5px;
}

.gridFUEC .sortable.sort-descent span:after {
    display: none; 
}

.md-input-search{
    margin: 0px
}

/* Estilos Toast */
md-toast {
    position: fixed !important;
}

.md-toast-content{
  background-color: #008AD3 !important
}

/*contratantes*/ 
.mdl-data-table{
    background-color: #FAFAFA !important
}

md-datepicker {
    display: inline-block;
    padding: 0;
    width: 100%;
}

.md-datepicker-input-container {
    display: flex;
}

.md-datepicker-input {
    max-width: 100%;
    min-width: 100%;
}

.md-datepicker-triangle-button {
    right: 8px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon .md-input-message-animation {
    margin-left: 0px;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
    right: inherit;
    left: 0px;
    width: calc(100% - 84px);
}

.btn-satrack-position-responsive {
    width: 97%;
}

.icon-actions{
    cursor: pointer;
    text-align: center;
}

.container-table-search md-input-container {
    margin: 12px 0px 0px 0px !important;
}

.container-table-search .btn-export {
    margin: 0px 0px 0px 10px !important;
}

.messages-position-validate {
    position: absolute !important; 
    margin-top: 30px
}

.result-no-table {
    font-size: 1.2em; 
    width: 100%; 
    text-align: center
}

.div-table-fuec {
    overflow-x: auto; 
    border: 1px solid #eee
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
    color: black !important;
}

.special-button-fuec{
    margin: 6px 0px !important;
}

.row-input-search md-input-container {
    display: flex !important;
    margin: 0px 0 !important;
}

#certificate .autocomplete-position{
    margin-top: 0px !important;
    padding-top: 0px !important; 
    margin-bottom: 0px !important;
}

.imgCenter {
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
}

.imgSize
{
    width: 55px; 
    height: 55px; 
    margin-bottom: 10px; 
    margin-left: 5px
}

.justifyText{
    text-align : justify;
    display: inline;
    margin-right: 20px;
    margin-left: 5px;
}

.custom-grid{
    margin-bottom: 60px;
}

.conten-custom-grid{
    padding-right:20px;
}

.st0{
    stroke:#253081;
}
.st1, .st2, .st4, .st6{
    fill:#253081;
}

.cg-icon{
    cursor:pointer;
    outline:0px solid;
    height:64px; 
    width:64px; 
}

.cg-title{
    color:#253081; 
    outline:0px solid;
}

.cg-desc{
    color:#9C9C9A;
}

.cg-spn-new{
    background-color:#FFBA08;
    color:white;
    padding:1px 7px;
    border-radius:30px;
    position: relative;
    top: -25px;
    left: -35px;
}

.cg-arrow-up{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(1,1,1,0.8);
}

.conten-services-items {
    padding-top: 10px;
}

.pading-left-page {
    padding-left: 70px;
    padding-right: 70px;
}