﻿/*html{
    overflow-y: hidden !important;
}*/

#fuec-certificate {
    text-align: center !important;
    width: 100% !important;
    font-family: Arial !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    overflow-y: auto;
    opacity: 0;
    background-color: white;
    line-height: 1;
    word-spacing: 2pt;
}

#fuec-certificate .icon-check{
    width: 10px; 
    position: absolute; 
    margin-left: 4px; 
    margin-top: -2px
}

#fuec-certificate .img-mintras {
    width: 250px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#fuec-certificate .img-firm {
    width: 170px;
}

#fuec-certificate .img-log-company {
    width: 90px;
}

#fuec-certificate table {
    width: 550px !important;
    border: 1px solid #e3e3e3;
    border-spacing: 0px;
    margin: 30px;
}

#fuec-certificate table span {
    display: block;
}

#fuec-certificate table .td-text-special {
    font-size: 0.6em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#fuec-certificate table .td-text-special-short {
    font-size: 0.5em;
    text-align: left;
    padding: 3px;
}

#fuec-certificate table .td-text-special-info {
    font-size: 0.5em;
    text-align: center;
    padding: 3px;
    line-height: 10px;
    overflow-wrap: break-word;
}

#fuec-certificate table .td-text-special-short-driver {
    font-size: 0.5em;
    text-align: left;
    vertical-align: top;
    padding: 3px;
    line-height: 8px;
}

#fuec-certificate table .td-text-special-short-center {
    font-size: 0.5em;
    text-align: center;
    padding: 3px;
}

#fuec-certificate table .td-text-special-short-date {
    font-size: 0.5em;
    text-align: left;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

#fuec-certificate table .td-text-special-title {
    font-size: 0.6em;
    text-align: center;
    padding: 3px;
}

#fuec-certificate table .td-text-special-short-od {
    text-align: justify;
    vertical-align: top;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    height: 120px; 
    font-size: 0.5em; 
    overflow-wrap: break-word;
}

#fuec-certificate table .td-text-special-short-od span{
    margin-bottom: 2px;
}

#fuec-certificate table .td-text-special-document {
    font-size: 0.6em;
    padding-top: 100px;
    padding-bottom: 150px;
}

#fuec-certificate table .td-img-special {
    padding-top: 0px;
}

#fuec-certificate table .td-img-special span{
    font-size: 0.5em
}

#fuec-certificate table .td-img-special hr{
    margin-bottom: 4px; 
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 3px; 
    padding: 0px
}

#fuec-certificate td{
    border: 1px solid #e3e3e3;
}

.tableFUECCertificate{
    position: absolute !important;
}

#download
{
    display:none;
}

#about
{
    display:none;
}

.fullscreen-dialog{
    width: 400px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #FDC300;
    color: rgba(255,255,255, 1);
}

.container-iframe{
    border: #e3e3e3 solid 1px; 
    background-color: #eee
}

.text-review {
    font-size: 3.5em;
    color: #eee;
    left: 5px;
    top: 200px;
    position: absolute;
    z-index: -100;
    opacity: 0.7;
}

.btn-satrack-position-responsive-modal{
    width: 100%
}

@-moz-document url-prefix() {
    #fuec-certificate table {
        border-collapse: collapse;
    }
}

@media screen and (min-width:0\0) { 
    #fuec-certificate table .td-text-special-short-od {
        height: 115px; 
        font-size: 0.48em; 
    }
} 