﻿<div id="certificate" ng-controller="historicControllerCpt" class="historicControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="historiceForm" novalidate>
                <!-- Row 4 -->
                <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                    <div class="gridFUEC" grid-data id='gridHistoric' grid-options="gridHistoric" grid-actions="gridActionsHistoric">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>
                                    <th sortable="FUECCode" class="sortable mdl-data-table__cell--non-numeric">
                                        C&oacute;digo FUEC <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Contract" class="sortable mdl-data-table__cell--non-numeric">
                                        Contrato <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="NITContractor" class="sortable mdl-data-table__cell--non-numeric">
                                        NIT contratante <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="CompanyNameContractor" class="sortable mdl-data-table__cell--non-numeric">
                                        Raz&oacute;n social contratante <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="ContractObject" class="sortable mdl-data-table__cell--non-numeric">
                                        Objeto del contrato <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Plate" class="sortable mdl-data-table__cell--non-numeric">
                                        Placa <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th  class="sortable mdl-data-table__cell--non-numeric">
                                        Fecha inicial <i  aria-hidden="true"></i>
                                    </th>
                                    <th  class="sortable mdl-data-table__cell--non-numeric">
                                        Fecha final <i  aria-hidden="true"></i>
                                    </th>
                                    <th  class="sortable mdl-data-table__cell--non-numeric">
                                        Fecha de expedici&oacute;n <i  aria-hidden="true"></i>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>                                    
                                    <td>
                                        <div flex class="flex">
                                            <md-input-container>
                                                <input ng-model="searchFUECCode"
                                                       grid-id="gridHistoric"
                                                       class="md-input"
                                                       ng-change="gridActionsHistoric.filter()"
                                                       id="searchCodigoFUEC"
                                                       placeholder="Codigo FUEC"
                                                       filter-by="FUECCode"
                                                       filter-type="text"
                                                       aria-invalid="false">
                                            </md-input-container>
                                        </div>
                                    </td>
                                    <td>
                                        <div flex class="flex">
                                            <md-input-container>
                                                <input ng-model="searchContract"
                                                       grid-id="gridHistoric"
                                                       class="md-input"
                                                       ng-change="gridActionsHistoric.filter()"
                                                       id="searchContrato"
                                                       placeholder="Contrato"
                                                       filter-by="Contract"
                                                       filter-type="text"
                                                       aria-invalid="false">
                                            </md-input-container>
                                        </div>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <input ng-model="searchNITContractor"
                                                   grid-id="gridHistoric"
                                                   class="md-input"
                                                   ng-change="gridActionsHistoric.filter()"
                                                   id="searchNITContractor"
                                                   placeholder="NIT Contratante"
                                                   filter-by="NITContractor"
                                                   filter-type="text"
                                                   aria-invalid="false">
                                        </md-input-container>

                                    </td>
                                    <td>
                                        <div flex class="flex">
                                            <md-input-container>
                                                <input ng-model="searchCompanyName"
                                                       grid-id="gridHistoric"
                                                       class="md-input"
                                                       ng-change="gridActionsHistoric.filter()"
                                                       id="searchContrato"
                                                       placeholder="Raz&oacute;n Social"
                                                       filter-by="CompanyNameContractor"
                                                       filter-type="text"
                                                       aria-invalid="false">
                                            </md-input-container>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <div flex class="flex">
                                            <md-input-container>
                                                <input ng-model="searchPlate"
                                                       grid-id="gridHistoric"
                                                       class="md-input"
                                                       ng-change="gridActionsHistoric.filter()"
                                                       id="searchPlate"
                                                       placeholder="Placa"
                                                       filter-by="Plate"
                                                       filter-type="text"
                                                       aria-invalid="false">
                                            </md-input-container>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr grid-item>
                                    <td>
                                        <span ng-bind="item.FUECCode"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Contract"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.NITContractor"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.CompanyNameContractor"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.ObjectContractor"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Plate"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.StartDate | date:'MM/dd/yyyy'"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.FinishDate | date:'MM/dd/yyyy'"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.ExpeditionDate | date:'MM/dd/yyyy'"></span>
                                    </td>
                                    <td>
                                        <img class="icon-actions" ng-click="DownloadPDF(item)" src="images/icon_pdf.png" />
                                    </td>
                                </tr>
                                <tr ng-show="gridHistoric.data.length == 0">
                                    <td colspan="11">
                                        <div class="result-no-table">No se encontraron resultados.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"
                                             >
                            </grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="refreshGrid()">
                                    <md-option ng-value="10">10</md-option>
                                    <md-option ng-value="20">20</md-option>
                                    <md-option ng-value="30">30</md-option>
                                    <md-option ng-value="50">50</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <br />
                    </div>
                </div>

            </form>
        </md-content>
    </div>
</div>