﻿<div id="dummi" ng-controller="dummiControllerCpt" class="dummiControllerCpt">
    <div layout="row">
        <div flex class="flex">
            <!--<md-button id="btnPreview" class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" ng-click="previewPDF()"><span class="ng-scope">VISTA PREVIA</span></md-button>-->
            <md-button id="btnCertificateView" class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" ng-click="showModalCertificate($event)"><span class="ng-scope">VER CERTIFICADO</span></md-button>
        </div>
        <div flex class="flex">
            <md-button id="btnDownload" class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" ng-click="downloadPDF()"><span class="ng-scope">GUARDAR</span></md-button>
        </div>
        <div flex class="flex">
            
        </div>
    </div> 
    <div layout="column" class="layout-column">
        
    </div>

    <!--Estructura pdf certificado FUEC-->
    <div id="fuec-certificate">
        <div id="contentFUECCertificatePage1">
            <certificate-page1 obj-certificate="{{objCertificate}}"></certificate-page1>
        </div>
        <div id="contentFUECCertificatePage2">
            <certificate-page2></certificate-page2>
        </div>
    </div>
</div>	