﻿<div id="dummi" ng-controller="accessErrorControllerCpt" class="accessErrorControllerCpt">
    <div layout="row">
        <div flex class="flex-30 "></div>
        <div flex class="flex" style="text-align:center">
            <img src="images/lock-interface-security.png" />
        </div>
        <div flex class="flex"> </div>
    </div>
    </br>
    <div layout="row">
        <div flex class="flex-30 "></div>
        <div flex class="flex" style="text-align:center">
            <label >Usted no posee permisos para acceder a esta aplicación.</label>
        </div>
        <div flex class="flex"> </div>
    </div>
</div>	