﻿<div id="client" ng-controller="clientControllerCpt" class="driverControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="clientForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-email ng-valid-minlength ng-valid-maxlength ng-invalid-min ng-valid-max ng-invalid-pattern">
                <!-- Row 1 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="Name">Nombre completo</label>
                        <input required="" maxlength="80" name="Name" ng-model="objClient.Name" id="Name" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.Name.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="clientForm.Name.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 80 caracteres.</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="NIT">Nit</label>
                        <input required="" maxlength="20" ng-pattern="ValidarAlfanumericoHyphen" name="NIT" ng-model="objClient.NIT" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="NIT" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.NIT.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="clientForm.NIT.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="Address">Direcci&oacute;n</label>
                        <input required="" maxlength="100" ng-pattern="ValidarAlfanumerico" name="Address" ng-model="objClient.Address" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Address" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.Address.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="clientForm.Address.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales</span>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 2 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label class="md-required" for="Phone">Telefono</label>
                        <input required="" maxlength="100" ng-pattern="ValidarAlfanumerico" name="Phone" ng-model="objClient.Phone" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" id="Address" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.Phone.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="clientForm.Phone.$error.pattern" class="md-input-message-animation ng-scope">No se permiten caracteres especiales</span>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="Quota">Cupo</label>
                        <input required="" maxlength="20" ng-pattern="ValidarSoloNumero" name="Quota" ng-model="objClient.Quota" id="Quota" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.Quota.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="clientForm.Quota.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 20 caracteres.</span>
                            <div ng-show="clientForm.Quota.$error.pattern" class="md-input-message-animation ng-scope">Solo se permiten n&uacute;meros.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex>
                        <label class="md-required" for="PercentageVisit">Porcentaje Visitas</label>
                        <input required="" maxlength="20" name="PercentageVisit" ng-pattern="ValidarSoloNumero" ng-model="objClient.PercentageVisit" id="PercentageVisit" class="ng-pristine ng-untouched md-input ng-empty ng-invalid ng-invalid-required" aria-invalid="true"><div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.PercentageVisit.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                            <span ng-show="clientForm.PercentageVisit.$error.maxlength" class="md-input-message-animation ng-scope">Este campo  permite m&aacute;ximo 20 caracteres.</span>
                            <div ng-show="clientForm.PercentageVisit.$error.pattern" class="md-input-message-animation ng-scope">Solo se permiten n&uacute;meros.</div>
                        </div>
                    </md-input-container>
                </div>
                                <!-- row 2 -->
                <div layout="row" class="layout-row">
                    <md-input-container flex="33" class="flex-33">
                        <label>Pais</label>
                        <md-select required="" id="countryList" name="countryList" ng-model="objClient.Country" ng-change="getDepartamentList()">
                            <md-option ng-selected="{{cnl.CountryID == objClient.Country}}" ng-repeat="cnl in countriesList" value="{{cnl.CountryID}}">{{cnl.NameCountry}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.countryList.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label>Departamento</label>
                        <md-select required="" id="departamentList" name="departamentList" ng-model="objClient.Departament" ng-change="getCitiesList()" ng-disabled="disableDepartament">
                            <md-option ng-selected="{{dpl.DepartmentID == objClient.Departament}}" ng-repeat="dpl in departamentsList" value="{{dpl.DepartmentID}}">{{dpl.NameDepartment}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.departamentList.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33" class="flex-33">
                        <label>Ciudad</label>
                        <md-select required="" id="cityList" name="cityList" ng-model="objClient.City" ng-disabled="disableCities">
                            <md-option ng-selected= "{{stl.CityID == objClient.City}}" ng-repeat="stl in citiesList" value="{{stl.CityID}}">{{stl.NameCity}}</md-option>
                        </md-select>
                        <div class="md-errors-spacer"></div>
                        <div ng-messages="clientForm.cityList.$error" class="md-input-messages-animation md-auto-hide ng-active" aria-live="assertive">
                            <!-- ngMessage: required --><div ng-message="required" class="md-input-message-animation ng-scope">Este campo es obligatorio.</div>
                        </div>
                    </md-input-container>
                </div>
                <!-- Row 3 -->
                <div layout="row">
                    <div flex="33" class="flex-33">
                        <md-button class="md-raised md-primary btn-satrack-position-responsive special-button-fuec" type="button" ng-click="createClient()" ng-disabled="validateRegion1()"><span>Guardar cliente</span></md-button>
                    </div>
                </div>
                <br />

                <!-- Row 4 -->
                <div layout="row" class="row-input-search">
                    <div flex class="flex">
                        <md-input-container>
                            <input ng-model="searchInput"
                                   grid-id="gridClient"
                                   class="md-input"
                                   ng-change="gridActionsDriver.filter()"
                                   id="SearchName"
                                   placeholder="Buscar por Nombre"
                                   filter-by="Name"
                                   filter-type="text"
                                   aria-invalid="false">
                        </md-input-container>
                    </div>
                </div>

                <!-- Row 5 -->
                <!--TABLE-->
                <div class="div-table-fuec" flex-gt-md="100" flex-md="100" flex-xs="100">
                    <div class="gridFUEC" grid-data id='gridClient' grid-options="gridClient" grid-actions="gridActionsDriver">
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
                            <thead>
                                <tr>
                                    <th sortable="Name" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Nombre</span> <i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="NIT" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>NIT</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Addres" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Direcci&oacute;n</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Phone" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Telefono</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="Quota" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Cupo</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="BalanceQuota" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Saldo Cupo</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="PercentageVisit" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Porcentaje Visita</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th sortable="City" class="sortable mdl-data-table__cell--non-numeric">
                                        <span>Ciudad</span><i class="fa fa-sort" aria-hidden="true"></i>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr grid-item>
                                    <td>
                                        <span ng-bind="item.Name"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.NIT"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Address"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Phone"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.Quota"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.BalanceQuota"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.PercentageVisit"></span>
                                    </td>
                                    <td>
                                        <span ng-bind="item.City.NameCity"></span>
                                    </td>
                                    <td>
                                        <span class="icon-actions" ng-click="editClient(item)"><i class="material-icons">&#xE254;</i></span>
                                    </td>
                                    <td>
                                        <span class="icon-actions" ng-click="deleteDriver(item)"><i class="material-icons">&#xE92B;</i></span>
                                    </td>
                                </tr>
                                <tr ng-show="gridClient.data.length == 0">
                                    <td colspan="9">
                                        <div class="result-no-table">No se encontraron resultados.</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage">
                            </grid-pagination>
                        </div>
                    </div>
                </div>
            </form>
        </md-content>
    </div>
</div>