﻿<div id="main" ng-controller="mainControllerCpt" class="mainControllerCpt">
    <div layout="column" class="layout-column">
        <md-content layout-padding="" class="layout-padding _md">
            <form name="mainForm" novalidate>
                <div layout="row" layout-align="start start" class="pading-left-page conten-services-items ng-scope layout-align-start-start layout-row">
                    <div layout="row" layout-wrap layout-xs="column" layout-sm="column" class="layout-wrap layout-xs-column layout-sm-column layout-row">
                        <div ng-repeat="u in UrlsMenu" ng-show="u.Name != 'main'" flex="33" class="flex-xs-100  flex-sm-45  flex-md-45 custom-grid" style="-ms-flex:none">
                            <div layout="column" class="conten-custom-grid" layout-algn="start start">
                                <div>
                                    <img ng-src="{{u.Image}}" class="imgSize" />
                                    <br />
                                </div>
                                <div class="md-title cg-title">{{u.Tittle}}</div>
                                <div class="md-body-1 cg-desc">
                                    {{u.Description}}
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> 
            </form>
        </md-content>
    </div>
</div>
